/src/main/assembly/distribution/**                              eol=lf

*.cmd                                                           eol=crlf
*.sh                                                            eol=lf
